@font-face {
    font-family: juniorFont;
    src: url(font/Raleway-VariableFont_wght.ttf);
}

body {
    font-family: juniorFont;
}

@font-face {
    font-family: logoFont;
    src: url(font/Ruda-Regular.ttf);
}

.logo {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in;
}

.navbar a:hover {
    color: #438cfc;
}

.navbar-left {
    display: flex;
}

.navbar-left h1 {
    font-family: logoFont;
    font-size: larger;
    margin-top: 25px;
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    margin: 0 10px;
    padding-right: 20px;
}

.description h4 {
    margin: 0 0 0 20px;
}

.description p {
    margin: 5px 0 10px 20px;
}

/* Marseille search box */

.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 20px;
}

.search-input-left {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

.search-input-left i {
    padding-left: 5px;
}

.search-input-center {
    padding: 6px;
    border: solid 3px #f2f2f2;
    border-right: none;
}

.search-input-center input {
    flex-grow: 1;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.search-input-right {
    background-color: #007bff;
    padding: 14px;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-input-right button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: juniorFont;
}

.search-input-right:hover {
    background-color: #0056b3;
}

/* Filters */

.filters,
.filters ul,
.filters ul li {
    display: flex;
}

.filters {
    margin: 30px;
    margin-bottom: 10px;
}

.filters ul {
    gap: 30px;
    margin: 0;
    flex-wrap: wrap;
}

.filters ul li {
    align-items: center;
    gap: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 30px;
}

.filters li {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.filters li:hover {
    background-color: #deebff;
}

.filters label {
    padding: 10px;
    padding-left: 0;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filter-icon {
    border-radius: 30px;
    padding: 12px;
    background-color: #deebff;
}

/* Available places */

.available-places {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.available-places p {
    font-weight: 500;
}

.available-places i {
    padding: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: 3px solid #ededed;
    border-radius: 100%;
}

/* Hotels */

.hotels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.marseille-hotels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #f3f2f3;
    max-width: 70%;
}

.marseille-hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
}

.marseille-hotels-container h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.trending-hotels-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #f3f2f3;
    max-width: 20%;
}

.trending-hotels-container h3 {
    margin-left: 30px;
    padding: 1.5vh;
}

.trending-hotels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trending-card {
    display: flex;
}

.marseille-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0;
}

.marseille-card h4, p {
    margin: 1vh;
}

.trending-card {
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
}

.marseille-card {
    width: 25%;
    height: 50%;
}

.trending-card {
    width: 80%;
}

.marseille-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.marseille-card i:nth-child(4) {
    padding-left: 0.4vw;
}

.trending-card img {
    width: 40%;
    height: 200px;
    object-fit: cover;
    margin: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trending-card-description {
    padding-left: 0.4vw;
}

.trending-card-description i {
    margin-top: 11vh;
}

.trending-card-description p, h4 {
    margin: 0;
}

.trending-card-description h4 {
    margin-top: 5px;
}

.marseille-hotels-container a {
    color: #000;
}

.marseille-card:hover, .trending-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.marseille-card, .trending-card {
    transition: transform 0.3s ease;
}

.show-more {
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.show-more a {
    text-decoration: none;
    color: #000;
}

/* Activites */

.activities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
    justify-content: space-around;
    /* gap: 30px; */
    max-width: 100%;
    height: 400px;
}

.marseille-activities {
    margin-top: 50px;
}

.vieux-port, .parc-calanques {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
    width: 20%;
}

.vieux-port img, .parc-calanques img {
    /* width: 300px; */
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fort-ile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    max-height: 400px;
    width: 20%;
}

.fort-ile-container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fort-de-pomegues {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.iles-du-frioul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.notre-dame-parc-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    max-height: 400px;
    width: 20%;
}

.notre-dame-parc-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.notre-dame-de-la-garde {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.parc-longchamp {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.vieux-port, .parc-calanques, .fort-de-pomegues, .iles-du-frioul, .notre-dame-de-la-garde, .parc-longchamp {
    transition: transform 0.3s ease;
}

.vieux-port:hover, .parc-calanques:hover, .fort-de-pomegues:hover, .iles-du-frioul:hover, .notre-dame-de-la-garde:hover, .parc-longchamp:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

/* Media queries */

@media (max-width: 768px) {
    .hotels-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .marseille-hotels-container,
    .trending-hotels-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .trending-hotels-container {
        border-radius: 0;
    }

    .marseille-hotels-container {
        background-color: white;
    }

    .marseille-card,
    .trending-card {
        width: 100%;
    }
}
