@font-face {
    font-family: juniorFont;
    src: url(font/Raleway-VariableFont_wght.ttf);
}

body {
    font-family: juniorFont;
    margin: 0;
}

@font-face {
    font-family: logoFont;
    src: url(font/Ruda-Regular.ttf);
}

:root {
    --light-gray: #f3f2f3;
}

.logo {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in;
}

.navbar a:hover {
    color: #438cfc;
}

.navbar-left {
    display: flex;
}

.navbar-left h1 {
    font-family: logoFont;
    font-size: larger;
    margin-top: 25px;
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    margin: 0 10px;
    padding-right: 20px;
}

.description h4 {
    margin: 0 0 0 20px;
}

.description p {
    margin: 5px 0 10px 20px;
}

/* Marseille search box */

.search-container {
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 20px;
}

.search-input-left {
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

.search-input-left i {
    padding-left: 5px;
}

.search-input-center {
    padding: 6px;
    border: solid 3px #f2f2f2;
    border-right: none;
}

.search-input-center input {
    flex-grow: 1;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.search-input-right {
    background-color: #007bff;
    padding: 14px;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-input-right button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: juniorFont;
}

.search-input-right i {
    display: none;
}

.search-input-right:hover {
    background-color: #0056b3;
}

/* Filters */

.filters,
.filters ul,
.filters ul li {
    display: flex;
}

.filters {
    margin: 30px;
    margin-bottom: 10px;
}

.filters ul {
    gap: 30px;
    margin: 0;
    flex-wrap: wrap;
}

.filters ul li {
    align-items: center;
    gap: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 30px;
}

.filters li {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.filters li:hover {
    background-color: #deebff;
}

.filters label {
    padding: 10px;
    padding-left: 0;
    padding-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filter-icon {
    border-radius: 30px;
    padding: 12px;
    background-color: #deebff;
}

/* Available places */

.available-places {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.available-places p {
    padding-left: 10px;
    font-weight: 500;
}

.available-places i {
    padding: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border: 3px solid #ededed;
    border-radius: 100%;
}

/* Hotels */

.hotels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.marseille-hotels-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--light-gray);
    max-width: 70%;
    height: 75vh;
    row-gap: 0px;
}

.marseille-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 0%;
}

.marseille-header h3 {
    margin: 0;
    font-weight: 800;
    margin-left: 50px;
}

.marseille-hotels {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    height: 70%;
}

.trending-hotels-container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--light-gray);
    max-width: 25%;
}

.trending-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-left: 40px;
    height: 75px;
}

.trending-header h3 {
    font-weight: 800;
}

.trending-hotels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
    gap: 30px;
}

.marseille-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0;
    width: 25%;
    height: 25vh;
}

.marseille-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35%;
    padding-left: 5px;
}

.marseille-card-description p,
h4 {
    margin: 0;
}

.marseille-card-description p {
    padding-top: 5px;
}

.marseille-card-rating {
    display: flex;
    width: 25%;
    gap: 2px;
    justify-content: space-evenly;
    padding-left: 10px;
    height: 10%;
}

.trending-card {
    display: flex;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    height: 30%;
}

.marseille-card-image {
    height: 65%;
    margin-bottom: 0;
    padding: 0;
}

.marseille-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.trending-card img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trending-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.trending-card-description p,
h4 {
    margin: 0;
}

.trending-card-rating {
    padding-bottom: 10px;
}

.trending-card-description h4 {
    margin-top: 10px;
}

.marseille-hotels-container a {
    color: #000;
}

.marseille-card:hover,
.trending-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.marseille-card,
.trending-card {
    transition: transform 0.3s ease;
}

.show-more {
    width: 100%;
    height: 5%;
}

.show-more h4 {
    margin-left: 50px;
}

.show-more a {
    /* margin-top: 8vh;
    margin-bottom: 4vh; */
    text-decoration: none;
    color: #000;
}

/* Activites */

.activities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 50px;
    justify-content: space-evenly;
    max-width: 100%;
    /* height: 400px; */
}

.activities-card {
    width: 100%;
}

.marseille-activities {
    margin-top: 50px;
}

.marseille-activities h3:nth-child(1) {
    margin-left: 50px;
    padding: 1vh;
}

.marseille-activities h3 {
    margin-left: 20px;
    /* padding: 1.5vh; */
}

.vieux-port,
.parc-calanques {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
    width: 20%;
    height: 400px;
}

.vieux-port img,
.parc-calanques img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fort-ile-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    height: 400px;
    width: 20%;
}

.fort-ile-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.fort-de-pomegues {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.iles-du-frioul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.notre-dame-parc-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    height: 400px;
    width: 20%;
}

.notre-dame-parc-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.notre-dame-de-la-garde {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.parc-longchamp {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fffefe;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 0;
}

.vieux-port,
.parc-calanques,
.fort-de-pomegues,
.iles-du-frioul,
.notre-dame-de-la-garde,
.parc-longchamp {
    transition: transform 0.3s ease;
}

.vieux-port:hover,
.parc-calanques:hover,
.fort-de-pomegues:hover,
.iles-du-frioul:hover,
.notre-dame-de-la-garde:hover,
.parc-longchamp:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

/* Footer */

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
}

.nav-item a:hover {
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    padding: 0;
}

.flex {
    display: flex;
}

.footer_inner {
    width: 100%;
    padding-top: 2rem;
    margin: 1rem 0;
}

.footer {
    display: flex;
    width: 100%;
    background-color: var(--light-gray)
}

.container {
    width: 100%;
    margin: 0 auto 0 30px;
    padding: 0 1rem;
}

.nav-item {
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
    }

    .nav-item {
        width: 25%;
    }
}

/* Media queries */

@media (max-width: 768px) {

    .navbar-left h1 {
        display: none;
    }

    .description h4 {
        font-size: xx-large;
        margin: 0 0 10px 20px;
    }

    .description p {
        font-size: larger;
        margin: 0 0 40px 20
    }

    .rechercher {
        display: none;
    }

    .search-input-right i {
        display: inline;
    }

    .search-input-right {
        border-radius: 15px;
    }

    .hotels-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .marseille-hotels-container,
    .trending-hotels-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .marseille-header h3 {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .trending-hotels-container {
        border-radius: 0;
    }

    .marseille-hotels-container {
        background-color: white;
        height: auto;
    }

    .trending-hotels-container {
        height: auto;
    }

    .marseille-card,
    .trending-card {
        width: 100%;
        height: auto;
        margin: 20px;
    }

    .trending-card {
        height: 170px;
    }

    .trending-hotels {
        gap: 0px;
    }

    .marseille-card {
        height: 250px;
    }

    .marseille-hotels {
        gap: 0px;
    }

    .show-more h4 {
        padding: 40px;
        padding-left: 20px;
        padding-top: 10px;
        margin-left: 0px;
        font-size: 1.2rem;
    }

    .search-container {
        max-width: 100%;
    }

    .activities-card {
        width: 100%;
    }

}